.home-container {
  padding: 40px;
  font-size: 48px;
}

.home-container h1 {
  font-size: 1em;
  letter-spacing: 0.02em;
}

.home-container h2 {
  font-size: 0.5em;
  letter-spacing: 0.02em;
  color: #7e7e7e;
  margin-bottom: 20px;
}

.start-button {
  color: #fff;
}
